---
import Tag from "./Tag.astro";

const { baggrund, h1 } = Astro.props;
---

<article class={baggrund}>
  <div class="box">
    <Tag style="secondary"> <slot /> </Tag>
    <h1>{h1}</h1>
  </div>
</article>

<style>
  @layer components {
    article {
      background-size: cover;
      padding-block: 3rem;
      color: var(--primary-color2);
      padding-inline: max(1rem, 50% - 1200px / 2);

      color: var(--color-primary3);
      font-weight: 700;
      font-size: var(--step-4);

      @media (width < 900px) {
        padding-block: 0.5rem;
      }
    }
    .baggrund1 {
      background-image: url(../assets/about1.avif);
    }
    .baggrund2 {
      background-image: url(../assets/team1.avif);
    }
    .baggrund3 {
      background-image: url(../assets/images/casestudy.png);
    }
    .box {
      background: rgba(255, 255, 255, 0.85);
      border-radius: 29px;
      margin: 0;
      display: inline-flex;
      padding: 40px 40px 50px 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
</style>
